/*nav and hero*/
#main-header {
  background: #131c27;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  min-height: 10vh;
  padding: 2rem;
  width: 90%;

  ul {
    align-items: center;
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    list-style: none;
  }
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}

#hero {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url("../img/landing-page.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  text-align: center;

  h3 {
    padding: 5rem;
  }
}

.burger {
  display: none;
}

/*media queries*/
@media screen and (max-width: 933px) {
  nav {
    flex-wrap: nowrap;
  }

  #logo {
    padding: 1rem;
  }

  // burger stuff
  .burger {
    position: relative;
    display: block;
    cursor: pointer;

    span {
      padding: 0.2rem 2rem;
      background: white;
      margin: 0.5rem 0rem;
      display: block;
      transition: all 0.7s ease;
    }
  }

  .nav-links {
    background: #131c27;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 0.7s ease;

    a {
      color: white;
      font-size: 4rem;
      text-decoration: underline;
    }
  }

  .nav-open {
    transform: translateX(-100%);
  }

  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: white;
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: white;
  }

  .stop-scrolling {
    height: 100%;
    overflow-y: hidden;
  }
}
